<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/burger-style.css" type="text/css" />
		<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
		<title>Handlebar-gers</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/burger-script.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>