<div class='burger-block'>
  {{burger_name}}

  {{#unless devoured}}
    <button class='devour-burger' data-id="{{id}}">
      Devour the Burger
    </button>
  {{/unless}}

  {{#if devoured}}
    <button class='reset-burger' data-id='{{id}}'>
      Reset
    </button>
  {{/if}}
</div>

